<h2 class="text-center">投稿一覧</h2>
<div class="container-fluid">
  <div class="row">
    <% @posts.each do | post | %>
      <div class="col-sm-4">
        <div class="post-card-wrapper">
          <h3 class="text-center"><%= link_to post.title, post %></h3>
          <p class="text-right"><small>posted by <%= link_to post_user(post).name, post_user(post) %></small>&nbsp;</p>
          <p class="text-right"><small>Posted <%= time_ago_in_words(post.created_at) %>ago&nbsp;</small></p>
          <hr>
          <div class="post-content">
              <%= post.content %>
          </div>
          <div class="text-right">
            <%= link_to "edit", edit_post_path(post), class: "btn btn-warning" %>
            <%= link_to "delete", post_path(post), method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function(){
  var postContent = $('.post-content');
  postContent.each(function(i, e){
    // $(e).html(marked($(e).text()));
    $(e).html($(e).text());
  });
})
</script>
